@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0.1% 0 0 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Heebo,sans-serif;
}

/* Para desktop: */
.col-1 {width: 12vw;}
.col-2 {width: 56vw;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 38vw;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.linha::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

header {
    background-color: white;
    position: fixed;
    width: 6vw;
    height: 100vh;
    top: 0;
    left: 0;
    border: 2px solid grey;
    opacity: 1;
    z-index: 20;
}

#q-burger {
    cursor: pointer;
    margin: 387% 0 123% 12px;
    width: 70%;
}


#q-burger line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

::-webkit-scrollbar {
    display: none;
}

.backg {
    background-image: url(../img/backg.png);
    background-color: #50C4E9;
    background-blend-mode: overlay;
    position: absolute;
    top: 0;
    width: 100%;
}

.box1 {
    background-color: #50C4E9;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    width: 6vw;
}


.box {
    background-color: #50C4E9;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    width: 100vw;
}

.outer-wrapper {
    width: 100vw;
    height: 203vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    display: flex;
    flex-direction: row;
    min-width: -webkit-fit-content;
    background-image: url(../img/backg.png);
    background-color: #50C4E9;
    background-blend-mode: overlay;
    position: absolute;
    top: 0;
    width: 100%;
}

.edtitu {
    width: 60%;
    margin: 7% 0% 0% 18%;
    cursor: pointer;
}

.caixainfo {
    width: 90%;
    height: 50%;
    /*background: #AADAE9;*/
    border-radius: 46px;
    margin: 10% 0% 0% 7%;
}

.caixablank {
    width: 90%;
    height: 50%;
}

.buddyboy {
    width: 42%;
    margin: 16% 0% 0% 24%;
}

.brainboy {
    cursor: pointer;
    width: 14%;
    position: relative;
    z-index: 1;
    margin-bottom: 92%;
    margin-left: -28.9%;
}

.heartboy {
    cursor: pointer;
    width: 14%;
    position: relative;
    z-index: 1;
    margin-bottom: 57%;
    margin-left: -8.7%;
}

.buddyicon {
    cursor: pointer;
    width: 13%;
    position: relative;
    z-index: 1;
    margin-bottom: 31%;
    margin-left: -37.7%;
}

.genderboy {
    cursor: pointer;
    width: 14%;
    position: relative;
    z-index: 1;
    margin-bottom: 32%;
    margin-left: 3.5%;
}

.imgcard {
    width: -webkit-fill-available;
}

.next {
    background-color: white;
}

.aboutnext {
    width: 75%;
    margin: 50% 10%;
}

.backgn {
    background-color: #101010;
    height: -webkit-fill-available;
}

#navbar {
    display: none;
}

.with_nav #navbar {
    display: block;
}

#navbar:target {
    display: block;
}

#navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #101010;
    width: 100%;
    height: 100%;
    padding: 4em;
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: Heebo,sans-serif;
}

.navbar li {
    padding: 1.5% 18%;
}

.txtn {
    font-size: 25pt;
}

.hist:hover {
    color: red;
}

.cult:hover {
    color: orange;
}

.sau:hover {
    color: yellow;
}

.dire:hover {
    color: green;
}

.edu:hover {
    color: blue;
}

.about:hover {
    color: purple;
}